<ul class="list-group">
  <li class="list-group-item active" aria-current="true">Kullanılan kütüphaneler</li>
  <li class="list-group-item">Express <span class="badge text-bg-primary">Önemli</span></li>
  <li class="list-group-item">Ejs</li>
  <li class="list-group-item">Express ejs layout</li>
  <li class="list-group-item">Bootstrap</li>
</ul>