<ul class="list-group">
    <li class="list-group-item active" aria-current="true">Ürünler</li>
    <% data.forEach((element, index)=> { %>
        <li class="list-group-item"><%= element.title %></li>
    <% }) %>
  </ul>